endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set mysql_connection_string "mysql://root:@localhost:3306/siri"
set mysql_slow_query_warning 150
# MODS
# MAPAS
sv_scriptHookAllowed 0
sv_endpointprivacy true
#rcon_password
sets tags "rp, roleplay, creative, network, pvp, br, brasil, brazil, otimizado, fps, foguete, lotus, complexo, santa, paris, tokyo, fusion, space, disney, infinity, fluxo, havana, kush, dubai, brazuka, nexus, capital, one, street, north, meta"
sets locale "pt-BR"
load_server_icon server.png
sv_master7 ""
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:STEAMHEX group.admin
set onesync on
set onesync_population true
set sv_enforceGameBuild 3570
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true
increase_pool_size "CMoveObject" 75
increase_pool_size "FragmentStore" 14000
increase_pool_size "OcclusionInteriorInfo" 20
increase_pool_size "OcclusionPathNode" 5000
increase_pool_size "OcclusionPortalEntity" 750
increase_pool_size "OcclusionPortalInfo" 750
increase_pool_size "PortalInst" 225
increase_pool_size "ScaleformStore" 200
increase_pool_size "StaticBounds" 5000
increase_pool_size "TxdStore" 26000
setr profile_skfx 0
setr voice_syncData 1
setr voice_useNativeAudio true
set mumble_maxClientsPerIP 1024
setr voice_useSendingRangeOnly true
sv_hostname "CITY SIRI"
sets sv_projectName "CITY SIRI ROLEPLAY"
sets sv_projectDesc "Desenvolva sua historia, troque seu tiro e divirta-se"
sets Grupo "RADEX STORE"
sets Desenvolvedor "CITY SIRI"
sets Discord "https://discord.gg/horizonterp"
sets Site "https://horizonteroleplcay.centralcart.com.br/"
sets banner_detail "https://cdn.discordapp.com/attachments/1421927347170447484/1464641764705960117/Banner_connect_horizonte_roleplay_1_1.gif?ex=69763570&is=6974e3f0&hm=a9a70abb9705d8d1575f4a8a470e6151b90f0652957d5465d0730d48598c8502&"
sets banner_connecting "https://cdn.discordapp.com/attachments/1421927347170447484/1464641764705960117/Banner_connect_horizonte_roleplay_1_1.gif?ex=69763570&is=6974e3f0&hm=a9a70abb9705d8d1575f4a8a470e6151b90f0652957d5465d0730d48598c8502&"
sv_maxClients 7
set steam_webApiKey ""
sv_licenseKey "cfxk_12yaHI4QPxE2wS8M9vEE3_2RwvQm"
#cfxk_1cVEKkSQNtKiMtwYIpqXL_4DmE9Y -- key paga
# WEBHOOKLOGS
setr Discord_MDT "https://discordapp.com/api/webhooks/1426737828783718461/oKtcRmv61Nyzh7no0VtrCmiADwfQXYWk7tZOiWhqRFIgrQaIW0EYCpSTFrnHfG-lDNLl"
setr Discord_EMS "https://discordapp.com/api/webhooks/1426737828783718461/oKtcRmv61Nyzh7no0VtrCmiADwfQXYWk7tZOiWhqRFIgrQaIW0EYCpSTFrnHfG-lDNLl"
setr Discord_FREECAM "https://discordapp.com/api/webhooks/1426737828783718461/oKtcRmv61Nyzh7no0VtrCmiADwfQXYWk7tZOiWhqRFIgrQaIW0EYCpSTFrnHfG-lDNLl"
add_ace group.admin core_cinematics.use allow

start vrp
start [system]
start [weapons]
start [scripts]
start [smartphone]
ensure event
start [maps]
start cfx-summerz
start [mods]
ensure WtCqPD
ensure [Veiculos]
ensure [roupas]
ensure [lojaroupas]
ensure [roupas]
ensure [carro]
ensure io
